<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Website Settings</h3>
	</div>
  <ul class="list-group">
  	<a href="<%= admin_settings_path %>" class="<%= admin_nav_state('settings')%>">General</a>
  	<a href="<%= admin_users_path %>" class="<%= admin_nav_state('users')%>">Users</a>
  	<a href="<%= admin_blog_path %>" class="<%= admin_nav_state('blogposts')%>">Blog</a>
  	<a href="<%= admin_messages_path %>" class="<%= admin_nav_state('messages')%>">Messages <span class="badge"><% if unread_messages.count > 0 %><%= unread_messages.count %><% end %></span></a>
    <a href="<%= admin_questions_path %>" class="<%= admin_nav_state('questions')%>">Questions <span class="badge"><% if pending_questions.count > 0 %><%= pending_questions.count %><% end %></span></a>
  	<a href="<%= admin_evaluations_path %>" class="<%= admin_nav_state('evaluations')%>">Evaluations <span class="badge"><% if unread_evaluations.count > 0 %><%= unread_evaluations.count %><% end %></span></a>
  </ul>
  <!--  <div class="panel-body"><p>Some Stats here</p></div> -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Page Settings</h3>
  </div>
  <ul class="list-group">
    <a href="<%= admin_local_partners_path %>" class="<%= admin_nav_state('local_partners')%>">Local Partners</a>
    <a href="<%= admin_advice_path %>" class="<%= admin_nav_state('advice_admin')%>">Advice</a>
    <a href="<%= admin_buyertips_path %>" class="<%= admin_nav_state('buyertips')%>">Buyer Tips</a>
    <a href="<%= admin_sellertips_path %>" class="<%= admin_nav_state('sellertips')%>">Seller Tips</a>
  </ul>
  <!--  <div class="panel-body"><p>Some Stats here</p></div> -->
</div>