<div class="row">
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Site Administrators</h3>
      </div>
      
      <div class="panel-body no_side_padding">
		    <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
            <tr>
          </thead>
          <tbody>
            <% for admin in @show_admins %>
              <tr>
                <td><%= admin.id %></td> 
                <td><%= admin.username %></td> 
                <td><%= admin.firstname %></td> 
                <td><%= admin.lastname %></td> 
                <td><%= admin.email %></td> 
                <td><%# link_to "Delete", user_path(user), :method=>:delete  %></td>
              <tr>
            <% end %>
          </tbody>
        </table>
	    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Registered Users</h3>
      </div>
      
      <div class="panel-body no_side_padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Email</th>
              <th>First</th>
              <th>Last</th>
              <th>Blog Updates</th>
              <th>News Updates</th>
            <tr>
          </thead>
          <tbody>
            <% for user in @list_users %>
              <tr>
                <td><%= user.id %></td> 
                <td><%= user.email %></td> 
                <td><%= user.firstname %></td> 
                <td><%= user.lastname %></td> 
                <td><%= user.updates_blog_posts %></td> 
                <td><%= user.updates_news %></td> 
                <td><%# link_to "Delete", user_path(user), :method=>:delete  %></td>
              <tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="col-xs-3">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Add New Administrator</a>
          </h4>
        </div>
        
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for @add_admin, :html=> { :multipart => true} do |f| %>
              <%= f.text_field :username, :class => "form-control", :placeholder => "Username" %><br/>
              <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %> <br/>
              <%= f.text_field :firstname, :class => "form-control", :placeholder => "First Name" %> <br/>
              <%= f.text_field :lastname, :class => "form-control", :placeholder => "Last Name" %> <br/>
              <%= f.password_field :password, :class => "form-control", :placeholder => "Set password" %><br/>
              <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %><br/>
              <%= f.submit 'Update', :class => "btn btn-warning pull-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Add New User</a>
          </h4>
        </div>
        
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for @add_user, :html=> { :multipart => true} do |f| %>
              <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %> <br/>
              <%= f.text_field :firstname, :class => "form-control", :placeholder => "First Name" %> <br/>
              <%= f.text_field :lastname, :class => "form-control", :placeholder => "Last Name" %> <br/>
              <%= f.password_field :password, :class => "form-control", :placeholder => "Set password" %><br/>
              <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %><br/>
              <%= f.submit 'Update', :class => "btn btn-warning pull-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
