<div class="row main_panel_container">
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">
  	    <h3 class="panel-title">Create a new blog post</h3>
      </div>

      <div class="panel-body">
        <%= form_for @blogpost, :html=> { :multipart => true} do |f| %>
          <%= f.text_field :category, :class => "form-control", :placeholder => "Category" %><br/>
          <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %><br/>
          <%= f.text_field :heading, :class => "form-control", :placeholder => "Heading" %><br/>
          <%= f.text_area  :body, :class => "form-control", :placeholder => "Body", :rows =>"7" %><br/>
          <%= f.hidden_field :admin_id, :value => admin_user.id %>
          <%= f.submit 'Post', :class => "btn btn-warning pull-right" %>
        <% end %>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Published Blog Posts</h3>
      </div>
      <div class="panel-body">
		    <div class="list-group">
          <% @blogposts.each do |blogpost| %>
            <a href="/blogposts/<%= blogpost.id %>" class="list-group-item">
              <h4 class="list-group-item-heading"><%= blogpost.title %></h4>
              <p class="list-group-item-text"><%= simple_format truncate(blogpost.body, length: 300) %></p>
            </a>
          <% end %>
        </div>
	    </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'admins/admin_sidebar' %>
  </div>
</div>
  