<div class="row main_panel_container">
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Unread Messages
          <span class="badge pull-right"><% if @unread_messages.count > 0 %><%= @unread_messages.count %><% end %></span>
        </h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% unless @unread_messages.empty? %>
          <% @unread_messages.each do |message| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><%= message.subject %></h4>
              <h5 class="list-group-item-heading">Name: <%= message.name %></h5>
              <h5 class="list-group-item-heading">Email: <%= message.email %></h5>
              <p class="list-group-item-text"><%= message.body %></p>
            </div>
          <% end %>
          <% else %>
          <div class="center_text">No Unread Messages</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Read Messages</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% unless @read_messages.empty? %>
          <% @read_messages.each do |message| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><%= message.subject %></h4>
              <h5 class="list-group-item-heading">Name: <%= message.name %></h5>
              <h5 class="list-group-item-heading">Email: <%= message.email %></h5>
              <p class="list-group-item-text"><%= message.body %></p>
            </div>
          <% end %>
          <% else %>
          <div class="center_text">No Read Messages</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'admins/admin_sidebar' %>
  </div>
</div>