<div class="row main_panel_container">
  <div class="col-xs-9">

    <div class="panel panel-default" id="accordion">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Create New Administrator</a>
        </h3>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <%= form_for @admin, :html=> { :multipart => true} do |f| %>
            <div class="row">
              <div class="col-xs-6">
                <%= f.text_field :username, :class => "form-control", :placeholder => "Username" %><br/>
                <%= f.text_field :firstname, :class => "form-control", :placeholder => "First Name" %> <br/>
                <%= f.text_field :lastname, :class => "form-control", :placeholder => "Last Name" %> <br/>
              </div>
              <div class="col-xs-6">
                <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %> <br/>
                <%= f.password_field :password, :class => "form-control", :placeholder => "New Password" %><br/>
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm New Password" %><br/>
                <%= f.submit 'Submit', :class => "btn btn-warning pull-right" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-default" id="accordion">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Create New User</a>
        </h3>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <%= form_for @user, :html=> { :multipart => true} do |f| %>
            <div class="row">
              <div class="col-xs-6">
                <%= f.text_field :firstname, :class => "form-control", :placeholder => "First Name" %> <br/>
                <%= f.text_field :lastname, :class => "form-control", :placeholder => "Last Name" %> <br/>
                <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %> <br/>
              </div>
              <div class="col-xs-6">
                <%= f.password_field :password, :class => "form-control", :placeholder => "New Password" %><br/>
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm New Password" %><br/>
                <%= f.submit 'Submit', :class => "btn btn-warning pull-right" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Site Administrators</h3>
      </div>
      
      <div class="panel-body no_side_padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
            <tr>
          </thead>
          <tbody>
            <% for admin in @show_admins %>
              <tr>
                <td><%= admin.id %></td> 
                <td><%= in_place_editor_field :admin, 'username' %></td> 
                <td><%= admin.firstname %></td> 
                <td><%= admin.lastname %></td> 
                <td><%= admin.email %></td> 
                <td>
                  <% if admin != admin_user %>
                    <%= button_to "Delete", admin_path(admin), :method => :delete, :class => "btn btn-danger btn-xs", :confirm => "Are you sure you want to delete #{admin.username}?" %>
                  <% else %>
                    <%= button_to "Delete", admin_path(admin), :class => "btn btn-danger btn-xs disabled" %>
                  <% end %>
                </td>
              <tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Registered Users</h3>
      </div>
      
      <div class="panel-body no_side_padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Email</th>
              <th>First</th>
              <th>Last</th>
              <th>Blog Updates</th>
              <th>News Updates</th>
            <tr>
          </thead>
          <tbody>
            <% for user in @list_users %>
              <tr>
                <td><%= user.id %></td> 
                <td><%= user.email %></td> 
                <td><%= user.firstname %></td> 
                <td><%= user.lastname %></td> 
                <td><%= user.updates_blog_posts %></td> 
                <td><%= user.updates_news %></td> 
                <td><%= button_to "Delete", user_path(user), :method => :delete, :class => "btn btn-danger btn-xs", :confirm => "Are you sure you want to delete this user?" %>
                </td>
              <tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'admins/admin_sidebar' %>
  </div>
</div>

