<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal_short_width">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign up</h4>
      </div>
      <div class="modal-body">
      <div class="form-group sm_form_width center">
        <%= form_for(:user, url: users_path) do |f| %>
          <%= f.label :email, "Email" %>  
          <%= f.text_field :email, :class => "form-control" %>

          <%= f.label :firstname, "Name" %>  
          <%= f.text_field :firstname, :class => "form-control", :placeholder => "First" %> 

          <%= f.text_field :lastname, :class => "form-control", :placeholder => "Last" %> 

          <%= f.label :password, "Password" %>
          <%= f.password_field :password, :class => "form-control" %>

          <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %><br/>
          
          <%= f.check_box :updates_news, {:checked => true}, true, false %>
          <%= f.label :updates_news, "Recieve Updates From Accent Realty" %>

          </div>
      </div>
      <div class="modal-footer">
          <div class="sm_form_width center">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit "Sign up", :class => "btn btn-warning" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>