<div class="row main_panel_container">
  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
  	    <h3 class="panel-title">Have a Question?</h3>
      </div>
      <div class="panel-body no_bottom_padding">
        <%= form_for @question, :html=> { :multipart => true} do |f| %>
          <%= f.text_field :content, :class => "form-control", :placeholder => "What can we help you with?" %><br/>
          <div class="row">
            <div class="col-xs-7">
              <%= f.text_field :email, :class => "form-control", :placeholder => "Contact Email" %><br/>
            </div>
            <div class="col-xs-3">
              <%= f.select(:category, [['Searching', 'Searching'],['Buying', 'Buying'],['Selling', 'Selling'],['Technical', 'Technical'],                       ['Other', 'Other']], {:include_blank => "Category"}, { :class => 'form-control' }) %><br/>
            </div>
            <div class="col-xs-2">
              <%= f.submit 'Submit', :class => "btn btn-warning pull-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    
      <% 5.times do %> <%# @blogposts.each do |blogpost| %>
      <div class="media">
      <div class="media-body">
        <h4 class="question_h4"><span class="question_big_q">Q:</span> <i>“Find life after foreclosure.”</i></h4>
        <blockquote class="question_body"><b>Response:</b>
        &nbsp;Have a foreclosure in recent years? Join the crowd. Though you might think you have to wait seven years to get another conventional mortgage, Fannie Mae, Freddie Mac and the FHA say they actually require just a three-year waiting period if the foreclosure was caused by extenuating circumstances. There are plenty of nonconforming lenders -- often called "shadow bankers" -- out there if you can endure a big down payment (around 20 percent) and above-market interest rates. Or consider a lease-purchase or lease-option where you pay the homeowner a monthly premium above your rent for the right to buy at a set price later. 

        </blockquote>    
      </div>
    </div>

    <hr>
      <% end %>
   
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Some Information Here</h3>
      </div>
      <ul class="list-group clearfix">
      
        <% 5.times do %>
          <a href="#" class="list-group-item">
            Sample Info Item
          </a>
        <% end %>
      </ul>
    </div>
  </div>
</div>