<div class="row main_panel_container">
  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
  	    <h3 class="panel-title">Have a Question?</h3>
      </div>
      <div class="panel-body no_bottom_padding">
        <%= form_for @question, :html=> { :multipart => true} do |f| %>
          <%= f.text_field :content, :class => "form-control", :placeholder => "What can we help you with?" %><br/>
          <div class="row">
            <div class="col-xs-7">
              <%= f.text_field :email, :class => "form-control", :placeholder => "Contact Email" %><br/>
            </div>
            <div class="col-xs-3">
              <%= f.select(:category, [['Searching', 'Searching'],['Buying', 'Buying'],['Selling', 'Selling'],['Technical', 'Technical'],                       ['Other', 'Other']], {:include_blank => "Category"}, { :class => 'form-control' }) %><br/>
            </div>
            <div class="col-xs-2">
              <%= f.submit 'Submit', :class => "btn btn-warning pull-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% unless @questions.empty? %>
      <% @questions.each do |question| %>
        <div class="media">
          <div class="media-body">
            <h4 class="question_h4"><span class="question_big_q">Q:</span> <i>“<%= question.content %>”</i></h4>
            <blockquote class="question_body"><b>Response:</b>&nbsp;<%= question.response %></blockquote>    
          </div>
        </div>
        <hr>
      <% end %>
    <% else %>
      <div class="center_text">No Questions Published</div><hr>
    <% end %>
  </div> 
 
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% unless @page_header.empty? %>
          <% @page_header.each do |pagecontent| %>
            <h3 class="panel-title"><%= pagecontent.page_header %></h3>
          <% end %>
        <% else %>
          <h3 class="panel-title">Useful Articles</h3>
        <% end %>
      </div>
      <ul class="list-group clearfix">
        <% unless @page_contents.empty? %>
          <% @page_contents.each do |pagecontent| %>
            <% unless pagecontent.article_link.blank? %>
              <a href="<%= pagecontent.article_link %>" class="list-group-item">
                <b><%= pagecontent.article_title %></b><br/>
                <%= pagecontent.article_description %>
              </a>
            <% else %>
              <a href="#" class="list-group-item">
                <b><%= pagecontent.article_title %></b><br/>
                <%= pagecontent.article_description %>
              </a>
            <% end %>
          <% end %>
        <% else %>
          <a href="#" class="list-group-item">No Content</a>
        <% end %>
      </ul>
    </div>
  </div>
</div>