  <div class="row main_panel_container">
		<div class="col-xs-8 margin_top-15">
      <% unless @blogposts.empty? %>
			 <% @blogposts.each do |blogpost| %>
				  <h3><%= blogpost.title %></h3>
          <div class="lead post_author">by <a href="#"><%= blogpost.admin.firstname %></a></div>
          <p><span class="glyphicon glyphicon-time"></span> Posted on <%= blogpost.created_at.strftime("%B %d, %Y") %></p>
          <hr>
          <p class="lead post_heading"><%= simple_format blogpost.heading %></p>
          <p><%= simple_format blogpost.body %></p>
          <hr class="blogpost_bottom_line">
			 <% end %>
      <% else %>
        <hr>
        <div class="center_text">Nothing has been posted, yet...</div>
        <hr>
      <% end %>
    </div>

		<div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Blog Posts</h3>
        </div>
        <div class="panel-body">
          <%= form_tag blogposts_path, :method => 'get' do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"Search Posts" %>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          <% end %> 
        </div>

        <ul class="list-group">
          <% unless @blogposts.empty? %>
            <% @blogposts.group_by(&:category).each do |category, blogposts| %>
              <%= link_to "#{category.titlecase} <span class='badge'>#{blogposts.count}</span>".html_safe, {:controller =>"blogposts", :action =>"index", :search =>category}, :class=>"list-group-item" %>
            <% end %>
          <% else %>
            <a href="#" class="list-group-item center_text">No Posts</a>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
