<div class="carousel_container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "house1.jpg" %>
        <a href="/listings/sample1" class="carousel-caption carousel_caption">
          <div class="carousel_item_title">Ashford, CT 06278</div>
          <div class="carousel_item_price">$575,000</div>
          <div class="carousel_item_stat">3 Bedrooms | 2 Baths | 1.25 Acres</div>
        </a>
      </div>

      <div class="item">
        <%= image_tag "house2.jpg" %>
        <a href="/listings/sample1" class="carousel-caption carousel_caption">
          <div class="carousel_item_title">Ashford, CT 06278</div>
          <div class="carousel_item_price">$575,000</div>
          <div class="carousel_item_stat">3 Bedrooms | 2 Baths | 1.25 Acres</div>
        </a>
      </div>

      <div class="item">
        <%= image_tag "house3.jpg" %>
        <a href="/listings/sample1" class="carousel-caption carousel_caption">
          <div class="carousel_item_title">Ashford, CT 06278</div>
          <div class="carousel_item_price">$575,000</div>
          <div class="carousel_item_stat">3 Bedrooms | 2 Baths | 1.25 Acres</div>
        </a>
      </div>

      <div class="item">
        <%= image_tag "house4.jpg" %>
        <a href="/listings/sample1" class="carousel-caption carousel_caption">
          <div class="carousel_item_title">Ashford, CT 06278</div>
          <div class="carousel_item_price">$575,000</div>
          <div class="carousel_item_stat">3 Bedrooms | 2 Baths | 1.25 Acres</div>
        </a>
      </div>
    
      <div class="item">
        <%= image_tag "house5.jpg" %>
        <a href="/listings/sample1" class="carousel-caption carousel_caption">
          <div class="carousel_item_title">Ashford, CT 06278</div>
          <div class="carousel_item_price">$575,000</div>
          <div class="carousel_item_stat">3 Bedrooms | 2 Baths | 1.25 Acres</div>
        </a>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div class="well well-sm home_well">Why Choose Accent Realty?</div>

<div class="row whychoose_image_row clearfix">
  <div class="col-xs-3">
    <%= image_tag "choose_dedicated.jpg", :class => "whychoose_image img-rounded" %>
    <span class="whychoose_image_label">Dedicated</span>
  </div>

  <div class="col-xs-3">
    <%= image_tag "choose_passionate.jpg", :class => "whychoose_image img-rounded" %>
    <span class="whychoose_image_label">Passionate</span>
  </div>

  <div class="col-xs-3">
    <%= image_tag "choose_responsive.jpg", :class => "whychoose_image img-rounded" %>
    <span class="whychoose_image_label">Responsive</span>
  </div>

  <div class="col-xs-3">
    <%= image_tag "choose_trusted.jpg", :class => "whychoose_image img-rounded" %>
    <span class="whychoose_image_label">Trusted</span>
  </div>
</div>


<div class="whychoose_text">
  <p>
    &nbsp; From front porches to backyards, Accent Realty's team of passionate individuals has successfully managed high volumes of real estate from coast to coast. “Ask someone who knows us” is much more than a slogan. It is a bold suggestion proclaimed with confidence.
  </p>

  <p>
    &nbsp; Accent Realty deploys its diverse resources each and every day to preserve, manage, and improve homes and neighborhoods across the United States. Each member of our team is dedicated to fulfill Accent Realty’s unique service culture.  We take each job personally, we stand accountable for our success, and we are driven by expectations and results.
  </p>

  <p>
    &nbsp; For real estate property preservation, asset management and property management, engage the services of America’s most trusted real estate service company – Accent Realty. Someday, someone might ask you about us. We’ll be working hard to earn your enthusiastic response!
  </p>
</div>

<div class="well well-sm home_well">Testimonials</div>

<div id="testimonials">


    
    
        <div class="carousel-wrap">
          <ul id="testimonial-list" class="clearfix">
            <li>
              <p class="testimonial_content">
                &nbsp; &nbsp;“...We especially want to thank you for everything that you did to get our new home! Thanks you Thank you! We are very lucky to know such wonderful people. We hope to see you soon!”
              </p>
              <p class="testimonial_credits">- Irina &amp; Matt</p>
            </li>
            <li>
              <p class="testimonial_content">
                &nbsp; &nbsp;“Thank you so much for guiding us through the process of first time home buying! It would not have been the same without your guidance and patience as we looked at house upon house and as some deals fell through. We know that everything happens for a reason, and just as this house came to us we are lucky that you came to us also. Thank you for everything you did for us! We will never forget it. We hope you stay a part of our lives forever.”
              </p>
              <p class="testimonial_credits">- Allison &amp; Scott</p>
            </li>
            <li>
              <p class="testimonial_content">
                &nbsp; &nbsp;“...Hope your new adventure of your own business is exciting, fun and good. We wish you all the best, and we believe you are the best. We really appreciate your professionalism; you did a very good job with us, even though life had directed us somewhere else.”
              </p>
              <p class="testimonial_credits">- Ofer &amp; Noga</p>
            </li>
            <li>
              <p class="testimonial_content">
                &nbsp; &nbsp;“...Hey, we got a house... today was the closing... time to work again… unpacking, Inna was great, I truly like her as a person too. Thanks!!!”
              </p>
              <p class="testimonial_credits">- Lena</p>
            </li>
            <li>
              <p class="testimonial_content">
                &nbsp; &nbsp;“...When we have people come look at our facility and the area we typically introduce them to Inna. Inna is a local realtor and can show you some houses or apartments in the area. She has been very helpful to the people we introduced her to in the past.” 
              </p>
              <p class="testimonial_credits">- Local Manufacturing Company [actual name?]</p>
            </li>
          </ul><!-- @end #testimonial-list -->
        </div><!-- @end .carousel-wrap -->
        <span id="previous_testimonial" class="glyphicon glyphicon-chevron-left testimonial_btn" ></span>
        <span id="next_testimonial" class="glyphicon glyphicon-chevron-right testimonial_btn"></span>

      </div><!-- @end #testimonials -->


References available upon request.



