<div class="main_panel_container side_padding_15">
	<% unless @page_header.empty? %>
		<% @page_header.each do |pagecontent| %>
			<div class="well well-sm tips_header"><%= pagecontent.page_header %></div>
		<% end %>
	<% else %>
		<div class="well well-sm tips_header">Local Partners</div>
	<% end %>

	<div class="resources_tips_container">
		<% unless @page_contents.empty? %>

			<% @page_contents.group_by(&:partner_type).each do |partner_type, partners| %>
			<div class="partner_groups">
  			<h4 class="community_header partner_h"><%= partner_type.pluralize.titlecase %></h4>
  				
  			<% partners.each do |partner| %>
  				<div class="partner_wrapper">
  					<div class="partner_name"><%= partner.partner_name %></div>
  					<div class="row">
              <% if partner.photo.exists? %>
  						  <div class="col-xs-3">
  							  <%= render_partner_logo(partner, :small) %>
  						  </div>
              <% else %>
                <div class="partner_logo_spacer"></div>
              <% end %>
  						<div class="col-xs-9" style="padding-left:0; margin-left:-5px;">
  							<% unless partner.partner_phone.blank? %>
    							<b>Phone:</b> <%= partner.partner_phone %><br/>
    						<% end %>

    						<% unless partner.partner_email.blank? %>
    							<b>Email:</b> <%= mail_to partner.partner_email %><br/>
    						<% end %>

    						<% unless partner.partner_link.blank? %>
    							<b>Web:</b> <%= link_to strip_url(partner.partner_link), check_http(partner.partner_link) %><br/>
    						<% end %>
    					</div>
    				</div>
    				<% unless partner.section_body.blank? %>
    					<hr class="small_hr">
    					<%= simple_format partner.section_body %>
    				<% end %>
   				</div>
 				<% end %>	

 				</div>
 			<% end %>
		<% else %>
		  <div class="center_text padding_15">No Page Content</div>
		  <hr/>
		<% end %>
	</div>
</div>
