<div class="main_panel_container side_padding_15">
	<% unless @buyer_header.empty? %>
		<% @buyer_header.each do |pagecontent| %>
			<div class="well well-sm tips_header"><%= pagecontent.page_header %></div>
		<% end %>
	<% else %>
		<div class="well well-sm tips_header">Tips for Buyers</div>
	<% end %>

	<div class="resources_tips_container" id="buyertips">
		<% unless @buyer_contents.empty? %>
			<% @buyer_contents.each do |pagecontent| %>
				<div class="media">
  				<div class="media-body">
   					<h4 class="media-heading"><%= pagecontent.section_title %></h4>
   					<%= pagecontent.section_body %>  		
   				</div>
				</div>
				<hr/>
			<% end %>
		<% else %>
		  <div class="center_text padding_15">No Content</div>
		  <hr/>
		<% end %>
	</div>

	<% unless @seller_header.empty? %>
		<% @seller_header.each do |pagecontent| %>
			<div class="well well-sm tips_header"><%= pagecontent.page_header %></div>
		<% end %>
	<% else %>
		<div class="well well-sm tips_header">Tips for Sellers</div>
	<% end %>

	<div class="resources_tips_container" id="sellertips">
		<% unless @seller_contents.empty? %>
			<% @seller_contents.each do |pagecontent| %>
				<div class="media">
  				<div class="media-body">
   					<h4 class="media-heading"><%= pagecontent.section_title %></h4>
   					<%= pagecontent.section_body %>  		
   				</div>
				</div>
				<hr/>
			<% end %>
		<% else %>
		  <div class="center_text padding_15">No Content</div>
		  <hr/>
		<% end %>
	</div>
</div>