<%= render "shared/flash_messages" %>

<%= render "shared/contact_modal" %>
<%= render "shared/signin_modal" %>
<%= render "shared/signup_modal" %>

<div class="row">

    <%= image_tag "main_logo.png", :size => "250x110", :class => "header_logo"%>



    <ul class="nav nav-pills pull-right nav_placeholder">
      <li class="<%= nav_state('home')%>"><%= link_to "Home", root_path %></li>
      <li class="<%= nav_state('listings')%>"><%= link_to "Listings", listings_path %></li>
      <li class="<%= nav_state('blog')%>"><%= link_to "Blog", blog_path %></li>
      <li class="<%= nav_state('resources')%>"><%= link_to "Resources", resources_path %></li>
      <li class="nav_link"><a href="#" data-toggle="modal" data-target="#contactmodal">Contact</a></li> 

      <li class="dropdown nav_link">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          My Account <span class="caret" style="border-top: 4px solid #666;"></span>
        </a>

        <ul class="dropdown-menu">
          <li role="presentation">
            <% if current_user %> 
              <%= link_to "Settings", settings_path %>
            <% else %>
              <a href="#" data-toggle="modal" role="menuitem" tabindex="-1" data-target="#signinmodal">Sign in</a>
            <% end %>
          </li>
          <li role="presentation">
            <% if current_user %> 
              <%= link_to "Sign out", usersignout_path %>
            <% else %>
              <a href="#" data-toggle="modal" role="menuitem" tabindex="-1" data-target="#signupmodal">Sign up</a>
            <% end %> 
          </li>
        </ul>
      </li>
    </ul>

</div>
<div class="nav-wrapper clearfix">
</div>