<%= render "shared/flash_messages" %>

<%= render "shared/contact_modal" %>
<%= render "shared/signin_modal" %>
<%= render "shared/signup_modal" %>

<%= image_tag "main_logo.png", :size => "280x130", :class => "header_logo"%>

<div class="nav-wrapper clearfix">
  <ul class="nav nav-pills nav_placeholder">
    <li class="<%= nav_state('home')%>"><%= link_to "Home", root_path %></li>
    <li class="<%= nav_state('listings')%>"><%= link_to "Listings", listings_path %></li>
    <li class="<%= nav_state('blog')%>"><%= link_to "Blog", blog_path %></li>
    <li class="nav_link"><a href="#" data-toggle="modal" data-target="#contactmodal">Contact</a></li> 
    <li class="<%= nav_state('evaluate')%>"><%= link_to "Evaluations", evaluate_path %></li>
    <li class="<%= nav_state('about')%>"><%= link_to "About Us", about_path %></li>
    <li class="dropdown <%= nav_state('resources')%>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Resources <span class="caret" style="border-top: 4px solid #666;"></span>
      </a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="<%= resources_path %>/#buyertips">Tips for Buyers</a></li>
        <li role="presentation"><a href="<%= resources_path %>/#sellertips">Tips for Sellers</a></li>
      </ul>
    </li>

    <% unless @hide_user_menu %>
    <li class="dropdown pull-right nav_link">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        My Account <span class="caret" style="border-top: 4px solid #666;"></span>
      </a>

      <ul class="dropdown-menu">
        <% if current_user %>
          <li role="presentation" class="dropdown-header">Hi, <%= current_user.firstname %></li>
          <li role="presentation"><%= link_to "Settings", settings_path %></li>
          <li role="presentation"><%= link_to "Sign out", usersignout_path %></li>
        <% else %>
          <li role="presentation">
            <a href="#" data-toggle="modal" role="menuitem" tabindex="-1" data-target="#signinmodal">Sign In</a>
          </li>
          <li role="presentation">
            <a href="#" data-toggle="modal" role="menuitem" tabindex="-1" data-target="#signupmodal">Register</a>
          </li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% if admin_user %>
      <li class="dropdown pull-right nav_link">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Admin <span class="caret" style="border-top: 4px solid #666;"></span>
        </a>
      
        <ul class="dropdown-menu">
          <li role="presentation"><%= link_to "Dashboard", admin_settings_path %></li>
          <li role="presentation"><%= link_to "Sign out", adminsignout_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>