<!DOCTYPE html>
<html>
<head>
  <title>AccentRealty</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :application %>
  <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

</head>
<% if @load_map_script %><body onload="GetMap();"><% else %><body><% end %>
	<div class="page_container">
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
